@font-face {
  font-family: Roboto;
  src: url(..//fonts/RobotoMono-ExtraLight.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url(..//fonts/RobotoMono-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Roboto;
  src: url(..//fonts/RobotoMono-Medium.ttf);
  font-weight: 300;
}
