@import "./nullstyle";
@import "./fonts";

body{
	font-family: "raleway_c";
  font-style: normal;
  font-weight: 100;
  color: white;
  font-size: 16px;
  background: #1f1d1d;
}
h1{
	font-weight: 400;
	text-align: center;
	font-size: 24px;
	margin-top: 50px;
}
.main{
	position: relative;
}
.wrapper{
	height: 2000px;
	max-width: 90%;
	padding: 0 20px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.table{
	display: grid;
	background: #38353593;
	margin-top: 50px;
	gap: 5px;
}
.table__grid{
	display: grid;
	position: relative;
	grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr;
	grid-column: span 6;
	align-items: center;
}
.table__item{
	display: grid;
	grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr;
	grid-column: span 6;
	align-items: center;
	padding: 7px 0;
	transition: 0.2s;
	&:hover{
		background-color: rgba(210, 172, 172, 0.371);
		transition: 0.3s;
		cursor: pointer;
	}
}
.table__title{
	display: grid;
	position: relative;
	grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr;
	grid-column: span 6;
	align-items: center;
	padding: 5px 0;
	font-weight: 300;
	font-style: italic;
	cursor: auto;
}	
.popup__bg{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: none;
	backdrop-filter: blur(2px);
	z-index: 3;
}
.popup__wrapper{
	display: none;
	width: 100%;
	height: 25vh;
	position: absolute;
	top: 0;
	left: 0;
}
.popup{
	position: relative;
	margin: 0 auto;
	width: 90%;
	height: 100%;
	background-color: #1f1d1d;
	border-radius: 15px;
	z-index: 4;
}
.close{
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 4;
	cursor: pointer;
	img{
		width: 30px;
		height: 30px;
	}
}
.popup__content{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 90%;
}
.popup__on{
	display: block;
}
.state_on{
	color: greenyellow;
}
.state_off{
	color: red;
}
// .popup__bg{
//   position: fixed;
//   top: 0;
//   left: 0;
//   height: 100vh;
//   min-width: 100%;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   z-index: -1;
//   -webkit-transition: 1s ease;
//   -o-transition: 0.5s ease;
//   transition: 0.5s ease;
//   -webkit-backdrop-filter: blur(2px);
//   backdrop-filter: blur(2px);

// }
// .popup{
// 	display: block;
// 	position: relative;
// 	top: 0;
// 	left: 0;
// 	height: 20vh;
// }
// .popup__bg{
// 	position: fixed;
//   top: 0;
//   left: 0;
//   height: 100vh;
//   min-width: 100%;
//   display: flex;
//   align-items: center;
//   z-index: -10;
//   transition: 0.5s ease;
//   backdrop-filter: blur(2px);
// }