@import './nullstyle';
@import './fonts';

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  color: white;
  font-size: 16px;
  background: #1d1c1c;
  overflow-x: hidden;
  counter-reset: section;
}
#p_preloader {
  background: #000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  opacity: 1;
  visibility: visible;
  transition: 2s;
}
.box {
  width: 100%;
  display: flex;
}
.wrapper__1 {
  min-width: 15%;
  margin-right: 30px;
  margin-bottom: 20px;

  h2 {
    font-family: 'Roboto';
    font-weight: 400;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 30px;
  }
}
.main {
  width: 100%;
  position: relative;
}
.wrapper {
  max-width: 90%;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.table {
  display: grid;
  background: #333333;
  margin-top: 10px;
  border-radius: 5px;
  gap: 5px;
}
.table__grid {
  display: grid;
  position: relative;
  text-align: center;
  grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr;
  grid-column: span 6;
  align-items: center;
}
.table__item {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr;
  grid-column: span 6;
  align-items: center;
  padding: 7px 0;
  transition: 0.2s;
  border-radius: 5px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.697);
    transition: 0.2s;
    cursor: pointer;
  }
}
.table__title {
  text-align: center;
  display: grid;
  position: relative;
  grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr;
  grid-column: span 6;
  align-items: center;
  padding: 5px 0;
  font-weight: 300;
  cursor: auto;
}
// Классы popup start
.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
  backdrop-filter: blur(2px);
  z-index: 3;
}
.popup {
  display: none;
  width: 80%;
  height: 25vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background-color: #111111d0;
  border-radius: 5px;
  z-index: 4;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 4;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
  }
}
.popup__content {
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
}
.popup__content-down {
  display: flex;
  justify-content: space-between;
  div {
    width: 50%;
  }
}
.popup__on {
  display: block;
}
// Классы popup end
// Классы фильтров start
.search-form {
  padding-top: 20px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.system-search {
  color: white;
  border: none;
  background: #000;
  width: 40%;
  height: 30px;
  border-radius: 20px;
  padding: 0 20px;
  margin-bottom: 20px;
  &::placeholder {
    color: #444444;
  }
}
.search-form__inp {
  display: flex;
  justify-content: center;
  width: 100%;
  input {
    max-width: 50%;
  }
}
#filter-on,
#filter-off {
  background-color: #000;
  margin-top: 10px;
}
.state_on {
  color: greenyellow;
}
.state_off {
  color: red;
}
.hidden_search {
  display: none;
}
.show_search {
  display: block;
}
.hidden_check {
  display: none;
} // Классы фильтров end
.row-number::before {
  // CSS счетчик № п/п
  counter-increment: section;
  content: counter(section) '.';
}
