@import "./nullstyle";
@import "./fonts";

body{
	font-family: "raleway_c";
  font-style: normal;
  font-weight: 100;
  color: white;
  font-size: 16px;
  background: #1f1d1d;
}
h1{
	font-weight: 400;
	text-align: center;
	font-size: 24px;
	margin-top: 50px;
}
.main{
	position: relative;
	height: 2000px;
}
.wrapper{
	max-width: 90%;
	padding: 0 20px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.table{
	display: grid;
	background: #38353593;
	margin-top: 50px;
	gap: 5px;
}
.table__grid{
	display: grid;
	position: relative;
	grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr;
	grid-column: span 6;
	align-items: center;
}
.table__item{
	display: grid;
	grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr;
	grid-column: span 6;
	align-items: center;
	padding: 7px 0;
	transition: 0.2s;
	&:hover{
		background-color: rgba(210, 172, 172, 0.371);
		transition: 0.3s;
		cursor: pointer;
	}
}
.table__title{
	display: grid;
	position: relative;
	grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr;
	grid-column: span 6;
	align-items: center;
	padding: 5px 0;
	font-weight: 300;
	font-style: italic;
	cursor: auto;
}	
.popup__bg{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: none;
	backdrop-filter: blur(2px);
	z-index: 3;
}
.popup{
	display: none;
	width: 80%;
	height: 25vh;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	background-color: #1f1d1d;
	border-radius: 15px;
	z-index: 4;
}
.close{
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 4;
	cursor: pointer;
	img{
		width: 30px;
		height: 30px;
	}
}
.popup__content{
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 80%;
}
.popup__on{
	display: block;
}
.state_on{
	color: greenyellow;
}
.state_off{
	color: red;
}
.hidden_search {
	display: none;
}
.show_search {
	display: block;
}
.hidden_check{
	display: none;
}